absl-py==1.0.0
asgiref==3.4.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
base58==2.1.1
cachetools==4.2.4
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.0.12
colorama==0.4.6
cryptography==42.0.5
cycler==0.12.1
distlib==0.3.4
dj-database-url==1.0.0
Django==4.0
django-heroku==0.3.1
django-screenshots==0.2.0
exceptiongroup==1.2.0
flatbuffers==2.0
future==0.18.2
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h11==0.12.0
h5py==3.6.0
heroku==0.1.1
idna==3.3
importlib-metadata==4.10.0
imutils==0.5.3
ipfshttpclient==0.7.0
isort==5.7.0
joblib==1.1.0
keras==2.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.5
lazy-object-proxy==1.4.3
libclang==12.0.0
Markdown==3.3.6
MarkupSafe==2.1.5
mccabe==0.6.1
MouseInfo==0.1.3
mss==6.1.0
multiaddr==0.0.9
netaddr==0.8.0
numpy
oauthlib
opencv-python
opt-einsum
outcome
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparse
PyGetWindow
pylint
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
pytweening
pytz
PyYA
requests
requests-oauthlib
selenium
six
sniffio
sortedcontainers
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem=
termcolor
threadpoolctl
toml
trio
trio-websocket
typing_extensions
tzdata
urllib3
urllib3-secure-extra
varint
Werkzeug
whitenoise
wrapt
wsproto
zipp
g
