*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    display: block;
	position: absolute;
    width: 100%;
	height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/img/mm2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}s
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:#fff;
}
.content h1{
    font-size: 45px;
    font-weight:200;
    color: aqua;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content p{
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover span{
    border: none;
}
label.form-label{
    color:blue;
    font-size:22px;
    font-weight: lighter;
}
.modal-title{
    color:blue;
    font-size: 30px;
    font-weight: lighter;
}
/* .navbar{
    height: 70px;
}
.navbar-nav > li{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}
.navbar-brand{
    padding-left: 0;
    padding-right:850px;
    font-size: 26px;
}
.nav-li{
    font-size: 18px;
    position: relative;
    right: 25px;
  } */
  /* .dropdown-item{
      font: bolder;
      color: blue;
      font-size: 18px;
      text-align: center;
  } */
  /*.dropdown-menu{
      margin: 20px,10;
      background-color: aqua;
      width: 100px;
      padding:15px 0;
    width: 100px;
    background: chartreuse;
    padding: 5px;
    text-align: center;
    margin: 10px 0px;
    border-radius: 10px;
    font-weight:bolder;
    border: 2px solid #009688;
    color:black;
    text-align: center;
    font-size: 18px;
  }*/
  /* .borderex{
    border-style:solid;
    border-color:#287EC7;
   } */
   .h{
    font-size: 100px;
    font-weight:bolder;
    text-align: center;
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:solid;
}
.para{
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 border-style:solid;
 border-color:#fff;
 border-width: 20px;
 background-color: rgb(8, 22, 0);
 width: 100%;
 top: 50%;
 color:#fff;
}
.cont{
padding-top:50px;
position:absolute;
top: 50%;
transform: translateY(-50%);
color:#fff;
padding-left: 400px;
}