{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block head %} 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/script.jss"></script>
    <script>
      $(document).ready(function(){
        $(".btn1").click(function(){
          $(".banner").slideUp();
        });
      });
      </script>  -->
      <style>
         .banner{
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../static/img/mm2.jpg);
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
            }
        .change-content {
          text-align: center;
        }
        .change-content:after{
            content: '';
            animation: changetext 6S infinite linear;
            color: rgb(104, 236, 43);
            /* padding-left: 830px; */
            font-size: 35px;
            font-weight:400;
            text-align: center;
        }
        @keyframes changetext {
          0% {content: "DEFENSE";}
          60%{content: "PROTECTION";}
          100%{content: "SAFETY";}
        }
        .content{
          width: 100%;
          position:absolute;
          top:50%;
          transform: translateY(-50%);
          text-align: center;
          color:#fff;
       }
        .content h1{
            font-size: 40px;
            color: aqua;
        }
        .content p{
          color:firebrick;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 20px ;
        }
    </style>

{% endblock head%}
{% block body %}
     <!--<div class="container-fluid my-4 px-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/img/mask.jpg" class="d-block w-100 " alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/2.jfif" class="d-block w-100 " alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/3.jfif" class="d-block w-100 " alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>-->
    {% comment %} <div class="banner"> {% endcomment %}
      <div class="content">
        <h1>REAL TIME FACE MASK DETECTION</h1>
        <p><div class="change-content">  </div></p>
        <P>COVID 19 ! <br>WHO has made wearing masks compulsory<br>
            Sign up or Login to use real time face mask detector</P>
          <div>
            <a href="/about"><button class="gg" type="button" class="btn1"><span class="gg1"></span>MORE</button></a>
            <!-- <a href="/contact"><button type="button"><span></span>CONTACT</button></a> -->
            <button type="button"  class="gg" data-bs-toggle="modal" data-bs-target="#loginModal">
            <span clas="gg1"></span>Login</button>
            <button class="gg"type="button" data-bs-toggle="modal" data-bs-target="#signupModal">
            <span class="gg1"></span>SignUP</button>
          </div>
      </div>
    {% comment %} </div> {% endcomment %}

{% endblock body %}
